<div class="main-container" style="width: 100vw;height: 100vh;;display: flex;flex-direction:column;">
  <div class="Caja1" style="background-color:#fcff6a;width:100vw;height:28%; display:flex;margin:1%;">
  </div>
  <br>
  <div class="Caja2" style="background-color:rgb(254, 254, 254);width:100vw;height:23%; display:flex;
  justify-content: space-between; margin:1%;">
    <div class="subcaja1" style="background-color:#d9d9d9;width:32%;height:100%;display:flex;gap:3px;"></div>
    <div class="subcaja2" style="background-color:#d9d9d9;width:32%;height:100%;display:flex;gap:3px;"></div>
    <div class="subcaja3" style="background-color:#d9d9d9;width:32%;height:100%;display:flex;gap:3px;"></div>
  </div>
  <br>
  
  <div class="Caja3" style="background-color:rgb(254, 254, 254);width:100vw;height:40%; display:flex;
  justify-content: space-between; margin:1%;">
    <div class="subcaja4" style="background-color:#e23232;width:49%;height:100%;display:flex;gap:3px;"></div>
    <div class="subcaja5" style="background-color:#f5e3de;width:49%;height:100%;display:flex;gap:3px;"></div>
  </div>
  <div class="Caja4" style="background-color:rgb(254, 254, 254);width:100vw;height:40%; display:flex;
  justify-content: space-between; margin:1%;">
    <div class="subcaja6" style="background-image: url(blob:https://web.whatsapp.com/0df10eeb-7e91-49a3-bf21-a5ec6326b3c4);width:49%;height:100%;display:flex;gap:3px;"></div>
    <div class="subcaja7" style="background-color:#e23232;width:49%;height:100%;display:flex;gap:3px;"></div>
  
  </div>
</div>